.vs/
bin/
obj/
*.user
launchSettings.json
artifacts/
msbuild.binlog
.vscode/
BenchmarkDotNet.Artifacts/
/startvs.bat
/src/Microsoft.AspNetCore.Blazor.Browser.JS/npm-debug.log
/packages
/src/anglesharp/AngleSharpBuilder/dist
/src/Microsoft.AspNetCore.Blazor.Forms/node_modules
/src/Microsoft.AspNetCore.Blazor.Browser.JS/package/blazor.js
/src/Blazor.DX/node_modules
/src/Blazor.DX/src/bundle.js
