<div><button onclick="@ClickMe">Click me</button></div>
<div>@message</div>

<div>
    @{
      int count = 0;
      foreach (var item in list)
      {
        <div>@count: @RowTemplate?.Render(item)</div>
        count++;
      }
    }
</div>

@functions
{
  [Parameter]
  public RenderFragment<TestObject> RowTemplate { get; set; }

  public class TestObject
  {
      public string PropString { get; set; } = string.Empty;
      public int PropInt { get; set; }
  }

  private List<TestObject> list = new List<TestObject>();
  string message { get; set; }

  protected override void OnInit()
  {
      for (int t = 0; t != 10; t++)
      {
          list.Add(new TestObject()
          {
              PropInt = t,
              PropString = $"Value {t}"
          });
      }
      base.OnInit();
  }

  void ClickMe()
  {
      int rnd = new Random().Next(list.Count());
      message = $"Updated index {rnd}, was {list.ElementAt(rnd).PropInt}";
      list.ElementAt(rnd).PropInt++;
  }
}